In [1]:
age= 28
print(age)

28

In [3]:
age =28
new_age= age+5
print(new_age)

33

In [5]:
age= 28
age= age+ 7
print(age)

35

In [7]:
age= 28
age +=7 #same as age= age + 7
print(age)

35

In [10]:
age =28
age *=2 #can use age/=2, age -=2, and the other operators 
print(age)

56

In [11]:
# String concatenation = joining strings
text = 'hokus' + 'pokus'#there is no space between the two strings
print(text)

hokuspokus

In [13]:
#String Concatentation with numbers
print('hokus'* 5)

hokushokushokushokushokus