In [1]:
# Lists are collection of multiple elements
numbers = [1,2,3]

In [2]:
countries =['Uk','USA']

In [3]:
# Lists can have multiple elements of different date types
# Not Recommended!
mixList = ['UK', 2, 'USA', 1]

In [4]:
# Lists can also have other lists as elements
cells = [[1,2,3,4],[5,6,7,8]]

In [5]:
cells[0]

[1, 2, 3, 4]

In [6]:
#Access a specfic element of a sublist
cells[0][0]

1

In [7]:
cells = [[1,2,3,4],[5,6,7,8]]
for x in cells:
    print('elements:',x)

elements: [1, 2, 3, 4]
elements: [5, 6, 7, 8]

In [8]:
cells = [[1,2,3,4],[5,6,7,8]]
for x in cells:
    for y in x:
        print('elements:',y)

elements: 1
elements: 2
elements: 3
elements: 4
elements: 5
elements: 6
elements: 7
elements: 8

In [9]:
# Multi dimension lists are called nested lists

In [10]:
# Usually multi-dimensions lists are called tables
table = [[1,2,3,4],[5,6,7,8]]
for row in table:
    for cell in row:
        print('elements:',cell)

elements: 1
elements: 2
elements: 3
elements: 4
elements: 5
elements: 6
elements: 7
elements: 8

In [11]:
# How to make it look like a table
table = [[1,2,3,4],[5,6,7,8]]
for row in table:
    for cell in row:
        print(cell, '',end='')
    print()

1 2 3 4
5 6 7 8

In [14]:
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5

table = [[i for i in range(1,6)] for j in range(4) ]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]