In [1]:
# Some tuple operations to remember

In [2]:
# len()
user_data = ('John', 'American', 1964,)
print(len(user_data))

3

In [3]:
# we can use the in and not in operators too
user_data = ('John', 'American', 1964,)
if 'American' in user_data:
    print('This person comes from the US!')

This person comes from the US!

In [4]:
# We can itterate with a for loop
user_data = ('John', 'American', 1964,)
for element in user_data:
    print(element)

John
American
1964

In [6]:
# Tuples can be added or multiplied
user_data = ('John', 'American', 1964,) +('Teacher','Male') #This produces a new tuple
print(user_data)

('John', 'American', 1964, 'Teacher', 'Male')

In [7]:
numbers = (0,1) *10
print(numbers)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [8]:
# When to use a list or tuple
# Lists: elements of the same data type, class, or phenomnum
# Tuples: values of different data types that are somehow related
#Tuples also perform certain Python operations quicker
# Tuple elements can also be variables